<div class="container">
    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-4">Hello there, Welcome to NoteIt!</h1>
            <p class="lead">Note it is your own friendly note space. So go on. Note it Up!!</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                Sign In to get started
            </p>
        </div>
    </div>
</div>